# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.jar
*.war
*.nar
